<% provide(:title, "New Comments") %>

  <section class="sitewide-comments section-margins">
    <% @news_comment.each do |nc| %>
      <% @comments.where(:id => nc.comment_id).each do |comment| %>
        <% @news.where(:id => nc.news_id).each do |news| %>
          <div class="comment">
            <p>
              <span class="metadata">
                <%= comment.by %>
                <%= time_ago_in_words(comment.created_at) %>
                ago &nbsp·&nbsp
                <%= link_to news.title, (news) %>
                <% if news.url? %>
                  <span class="metadata">
                    (<%= link_to URI.parse(news.url).host, (news.url) %>)
                  </span>
                <% end %>
              </span>
            </p>

            <p>
              <%= comment.text %>
            </p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </section>
